*,body{
  /* margin: 1px; */
  background-color: #C9C8FB;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: black !important;
  text-transform:uppercase;
  background-color:white !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: black !important;
  text-transform:uppercase;
  background-color:#D2ACF7 !important;
}
.nav-tabs .nav-link {
  margin-bottom: 0px;
  border: 1px solid transparent;
  width:100%;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-color: purple !important;
  padding-left: 25px;
  padding-right: 25px;
}
.mb-3 {
  margin:0px !important;
  
}
ul.mb-3.nav.nav-tabs {
  display: flex;
  flex-direction: row;
}
li.nav-item {
  width: 40rem;
}